################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rochas.DataClassifier
/Rochas.DataClassifier/bin/Debug/netstandard2.0
/Rochas.DataClassifier/obj
/Rochas.DataClassifier.TestConsole/.vs/Rochas.DataClassifier.TestConsole
/Rochas.DataClassifier.TestConsole/bin/Debug/netcoreapp3.1
/Rochas.DataClassifier.TestConsole/obj
/Rochas.DataClassifier/bin/Debug/netstandard2.1
