################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

\bin
\obj
\packages
/Native/.vs/Rochas.DataClassifier/v14
/NETCore/.vs/Rochas.DataClassifier.NETCore/v14
/Native/Rochas.SoundEx/.vs/Rochas.SoundEx/v14
